# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

# on = event when action should run i.e. when a push is made on repo or pull request to update main branch on repo
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

# jobs = main logic to action - configures runner to use for job and individual steps or tasks for job of action
jobs:
  # build = actions runner for job - select a virtual machine to run action on
  build:
    # runs-on = specifies virtual machine to run job tasks on
    runs-on: ubuntu-latest

    # Strategy = allows to set specific versions of environment wanting to run actions with can apply a 'matrix' to test using runner with different versions in one test
    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
      - run: npm ci
      - run: npm test
